</head>
<body>
  <header>
    <div class="shop-header-links">
      <a href="/shop/get-shop" class="shop-header-link">Shop</a>
      <a href="/shop/get-cart" class="shop-header-link">Cart</a>
      <a href="/shop/get-order" class="shop-header-link">Orders</a>
    </div>
    <div class="admin-header-links">
      <a href="/admin/get-add-product" class="admin-header-link">Add Products</a>
      <a href="/admin/get-product-list" class="admin-header-link">Product List</a>
    </div>
  </header>
  <main>