main{
  padding: 30px;
}

.products-container{
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.product-container{
  border: 1px solid gray;
  text-align: center;
}

button{
  margin-bottom: 10px;
}

